.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-repeat:repeat;
  background-image: url(grass.jpg);

}

.game {
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
  border: 35px solid transparent;
  border-image: url(border.png) 30 round;
  background-color: rgba(193, 176, 171, 0.736);
  border-radius: 10px;


}

.game img {
  width: 70px;
  height: 70px;
}

h1 {
  background-color: rgba(77, 203, 161, 0.648);
  font-size: 30px;
}

.header {
align-items: center;
}